<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxt.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 适配华为的刘海屏，全局生效，也可写在指定的activity中，仅对当前activity生效 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.material.tablayout.TabLayoutActivity" />
        <activity android:name=".ui.material.chips.ChipsActivity" />
        <activity android:name=".ui.material.tablayout.CollapsingTabActivity" />
        <activity android:name=".ui.material.collapsing.CollapsingActivity" />
        <activity android:name=".ui.material.toolbar.ToolbarActivity" />
        <activity android:name=".ui.material.collapsing.CollapsingToolbarActivity" />
        <activity android:name=".ui.material.bottomAppbar.BottomAppbarActivity" />
        <activity android:name=".ui.material.bottomAppbar.BottomAppbarPositioningActivity" />
        <activity android:name=".ui.material.bottomAppbar.BottomAppbarSnackBarActivity" />
        <activity android:name=".ui.material.bottomNavogation.BottomNavigationActivity" />
        <activity android:name=".ui.material.bottomNavogation.BottomNavigationBadgeActivity" />
        <activity android:name=".ui.material.bottomNavogation.BottomNavigationTransitionsActivity" />
        <activity android:name=".ui.material.cards.CardViewActivity" />
        <activity android:name=".ui.material.cards.CardViewSelectableActivity" />
        <activity android:name=".ui.material.cards.CardViewDraggableActivity" />
        <activity android:name=".ui.material.cards.CardViewSwipeActivity" />
        <activity android:name=".ui.material.bottomNavogation.BottomNavigationAnimatedActivity" />
        <activity android:name=".ui.material.cards.CardViewListDragActivity" />
        <activity android:name=".ui.material.bottomSheet.BottomSheetActivity" />
        <activity android:name=".ui.material.cards.CardViewCollectionsActivity" />
        <activity android:name=".ui.material.cards.CardViewExpandActivity" />
        <activity android:name=".ui.material.list.ListImageActivity" />
        <activity android:name=".ui.material.bottomSheet.MapSheetActivity" />
        <!--高德地图-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/map_key" />
        <!--Bmob配置provider-->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="${applicationId}.BmobContentProvider" />
    </application>

</manifest>